<h2>Tessera - Listing Users</h2>

<hr class="soften small-margin" />

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', users_path, :class => "btn" %>
