<h1>Tessera</h1>

<h2>Congrats! You are successfully logged in. This doesn't actually do anything yet.</h2>

<%= link_to 'Login', 'users/login' %><br />
<%= link_to 'Create New User', new_user_path %>
