// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

body {
  .buttons {
    text-align: center;
  }

  .btn-menu {
    width: 200px;
    margin: 5px auto;
  }
}
