// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

body {
  input {
    padding: 4px 6px;
    width: -moz-calc(100% - 12px);
    width: -webkit-calc(100% - 12px);
    width: -o-calc(100% - 12px);
    width: calc(100% - 12px);
  }

  canvas {
    margin: 10px 0;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .buttons {
    text-align: center;
  }

  .btn-menu {
    width: 200px;
    margin: 5px auto;
  }

  .small-margin {
    margin: 10px 0;
  }

  .alert {
    margin-bottom: 10px;
  }
}
